<div class="fondo">
    <form class="container pt-5">
    <div class="pt-5">
        <legend class="text-center mb-4">Datos de cliente</legend>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">DNI</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="dni" name="dni">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">Nombre</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">Apellidos</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="apellidos" name="apellidos">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">Email</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="email" name="email">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">Telefono</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="telefono" name="telefono">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="email" class="col-lg-3 col-md-12 col-form-label">Calle</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="calle" name="calle">
            </div>
        </div>
    </div>
</form>
<h2 class="text-center pt-3">Vehiculos - {{dni}}</h2>
<app-table [rows]="rows" [columns]="columns" (clickfila)="onClickRow($event)" (filterKey)="filter($event)"></app-table>
<div class="container pb-5">
    <button  class="btn btn-warning" (click)="edit()">Editar</button>
    <button type="button" style="margin-left: 15px;" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Eliminar</button>
    <button type="button" style="margin-left: 15px;" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Añadir vehiculo</button>
    <button  class="btn btn-primary" style="margin-left: 15px;" (click)="return()" routerLink="/clientes" routerLinkActive="router-link-active" >Volver</button>
</div>
<app-modal-vehiculo (clickAdd)="add($event)" [tipo] = "'cliente'"></app-modal-vehiculo>
<app-modal-confirmacion (clickAdd)="delete()" [title]="title"></app-modal-confirmacion>
<!--<app-table [rows]="rows" [columns]="columns" (click)="onClickRow($event)" (filterKey)="filter($event)"></app-table>-->

<button type="button" class="btn btn-danger error" [hidden]="true" data-toggle="modal" data-target="#exampleModalCenter2" id="botonError"></button>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <img src="../../../../assets/error.png" alt="" width="50" height="50">
                <h4 class="" id="exampleModalLongTitle">{{titleError}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeError" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>