<div class="CuerpoDetalle">
<form class="container pt-5">
    <div class="pt-5">
        <legend class="text-center mb-4">Datos del arreglo</legend>
        <div class="row form-group my-3">
            <label for="fecha" class="col-lg-3 col-md-12 col-form-label">Fecha</label>
            <div class="col-lg-9">
                <input type="date" class="form-control" [(ngModel)]="fecha" name="fecha">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="descripcion" class="col-lg-3 col-md-12 col-form-label">Descripcion</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="descripcion" name="descripcion">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="precio" class="col-lg-3 col-md-12 col-form-label">Precio</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="precio" name="precio">
            </div>
        </div>
        <div class="row form-group my-3">
            <label for="vehiculo" class="col-lg-3 col-md-12 col-form-label">Vehiculo</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" [(ngModel)]="vehiculo" name="vehiculo">
            </div>
        </div>
    </div>
</form>
<div class="container pb-3">
    <a class="btn btn-warning" style="margin-right:15px;" (click)="edit()">Edit</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Eliminar</button>
    <a class="btn btn-primary" style="margin-left:15px;" (click)="return()">Volver</a>
</div>
<!-- <button type="button" class="btn btn-danger" [hidden] = "true" data-toggle="modal" data-target="#exampleModalCenter2">Eliminar</button> -->
<app-modal-confirmacion (clickAdd)="delete()" [title]="title"></app-modal-confirmacion>

<button type="button" class="btn btn-danger error" [hidden]="true" data-toggle="modal" data-target="#exampleModalCenter2" id="botonError"></button>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <img src="../../../../assets/error.png" alt="" width="50" height="50">
                <h4 class="" id="exampleModalLongTitle">{{titleError}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeError" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>