<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/taller4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/taller5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/taller6.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/taller7.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/taller8.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row pideCita">
  <!--<i class="fa-solid fa-car-wrench"></i>
       <i class="faCoffee"></i>
    -->
  <div class="col-lg-1 mt-4 mb-4 offset-lg-2">
    <!--  <i class="fab fa-angellist fa-5x"></i>  -->
    <img src="../../../assets/iconoMecanico2.png" alt="...">
  </div>

  <div class="col-lg-6 mt-5">
    <p class="h4 font-weight-bold" id="titulo">PIDE UNA CITA</p>
    <p>En Talleres Madrid ofrecemos los mejores servicios profesionales para su vehículo</p>

  </div>
  <div class="col-lg-3 mt-5">
    <button type="button" class="btn btn-warning font-weight-bold" id="botonCita" routerLink="/contacto">PIDE TUCITA</button>
  </div>
</div>



<div class="row m-5">
  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100 ">
      <img class="imagenbn card-img-top" src="../../../assets/ruedas.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">MANTENIMIENTO DE TUS NEUMATICOS</h3>
        <p class="card-text">Te aconsejamos acerca del correcto uso de los neumáticos. Como limpiarlos, cuando se deben
          cambiar, etc.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/especialista.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">LOS MEJORES PROFESIONALES</h3>
        <p class="card-text">En Talleres Madrid trabajamos para ofrecer el mejor servicio al mejor precio.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/electronica.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">ELECTRÓNICA DE TU COCHE</h3>
        <p class="card-text">Para solucionar los problemas de los sistemas electrónicos de tu vehículo, confía en
          Talleres Madrid.</p>

      </div>
    </div>
  </div>






</div>

<div class="row mutua">
  <div class="col-lg-4 mt-4 mb-4 offset-lg-1">
    <img src="../../../assets/logo_mutua.png" alt="...">
  </div>


  <div class="col-lg-7 mt-5">
    <p class="h4 font-weight-bold" id="mut">CONCESIONES CON LA MUTUA DE MADRID</p>

  </div>
  
  
</div>