.pideCita{
    background-color: rgb(227, 227, 227);
    padding: 0px;
    margin:0px;
    padding:25px;
}

#botonCita{
    width:200px;
    height:50px;
    border:2px solid white;
}

.alturaCard .card{
    height: 450px;
}

.card-title{
    font-size: 20px;
}

.card-text{
    font-size: 15px;
}




