<div class="row">
  <img src="../../../assets/img_vehiculos.png" class="img-fluid" alt="...">
</div>

<app-table [rows]="rows" [columns]="columns" (clickfila)="onClickRow($event)" (filterKey)="filter($event)"></app-table>

<div class="container mb-3">
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Añadir vehiculo</button>
</div>

<app-modal-vehiculo (clickAdd)="add($event)" [tipo] = "'general'"></app-modal-vehiculo>

<button type="button" class="btn btn-danger error" [hidden]="true" data-toggle="modal" data-target="#exampleModalCenter2" id="botonError"></button>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <img src="../../../../assets/error.png" alt="" width="50" height="50">
                <h4 class="" id="exampleModalLongTitle">{{titleError}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeError" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>