<div class="fondo">
    <div class="container">
    <form class="py-5">
        <h2 class="text-center mt-5">Datos del vehiculo</h2>
        <div class="pt-5">
            <div class="row form-group my-3">
                <label for="email" class="col-lg-3 col-md-12 col-form-label">Marca</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" [(ngModel)]="marca" name="nombre">
                </div>
            </div>
            <div class="row form-group my-3">
                <label for="email" class="col-lg-3 col-md-12 col-form-label">Modelo</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" [(ngModel)]="modelo" name="apellidos">
                </div>
            </div>
            <div class="row form-group my-3">
                <label for="email" class="col-lg-3 col-md-12 col-form-label">Color</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" [(ngModel)]="color" name="email">
                </div>
            </div>
            <div class="row form-group my-3">
                <label for="email" class="col-lg-3 col-md-12 col-form-label">Matricula</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" [(ngModel)]="matricula" name="foto">
                </div>
            </div>
            <div class="row form-group my-3">
                <label for="email" class="col-lg-3 col-md-12 col-form-label">Cliente</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" [(ngModel)]="cliente" name="telefono">
                </div>
            </div>
        </div>
    </form>
    <h2 class="text-center">Arreglos - {{matricula}}</h2>

    <app-table [rows]="rows" [columns]="columns" (clickfila)="onClickRow($event)" (filterKey)="filter($event)"></app-table>

    <div class="pb-5">
        <a href="" class="btn btn-warning mx-2" (click)="edit()">Edit</a>
        <button type="button" style="margin-left: 15px;" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Eliminar</button>
        <button type="button" style="margin-left: 15px;"class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Añadir arreglo</button>
        <button  class="btn btn-primary" style="margin-left: 15px;" (click)="return()">Volver</button>
    </div>
    
    <app-modal-arreglo (clickAdd)="add($event)"></app-modal-arreglo>    
</div>
<app-modal-confirmacion (clickAdd)="delete()" [title]="title"></app-modal-confirmacion>

<button type="button" class="btn btn-danger error" [hidden]="true" data-toggle="modal" data-target="#exampleModalCenter2" id="botonError"></button>
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <img src="../../../../assets/error.png" alt="" width="50" height="50">
                <h4 class="" id="exampleModalLongTitle">{{titleError}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeError" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>