<div class="row">
    <img src="../../../assets/img_services.png" class="img-fluid" alt="...">

    <div class="col-lg-12 mt-5 text-center">
        <p class="h2 font-weight-bold">SERVICIOS DE REPARACION</p>
        <p>En Talleres Madrid contamos con profesionales para solucionar las averías de tu vehículo</p>
    </div>
    <hr width=50% size=8 color="#FFC107">


</div>


    
<div class="row contenido m-5 ">
  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100 ">
      <img class="imagenbn card-img-top" src="../../../assets/ruedas2.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">CAMBIO DE RUEDAS</h3>
        <p class="card-text">Los neumáticos son un elemento fundamental en la seguridad del vehículo. Proporcionan estabilidad y tracción, por lo que siempre tienen que estar en buen estado.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/climatizacion.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">SISTEMAS DE CLIMATIZACIÓN</h3>
        <p class="card-text">Los sistemas de calefacción y aire acondicionado son fundamentales para garantizar la comodidad y también la seguridad al volante. Estos sistemas necesitan de revisiones y mantenimiento periódicos para funcionar correctamente.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/electronica2.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">ELECTRÓNICA</h3>
        <p class="card-text">Nuestro equipo está familiarizado con el diagnóstico y la solución de problemas electrónicos, garantizando así siempre la máxima seguridad al volante.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100 ">
      <img class="imagenbn card-img-top" src="../../../assets/encendido.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">ENCENDIDO</h3>
        <p class="card-text">Si tienes problemas con el sistema Start/Stop de tu vehículo, o incluso si falla por completo, en Taller Fergamotor lo solucionamos con rapidez.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/mecanica.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">MECÁNICA DE MANTENIMIENTO</h3>
        <p class="card-text">Un mantenimiento adecuado del vehículo aumentará su vida útil. Cumplimos los requisitos que establecen las diferentes marcas para llevar a cabo el mantenimiento de tu coche sin perder la garantía del vehículo.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/frenos.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">FRENOS, ABS Y ESP</h3>
        <p class="card-text">Un sistema de frenado que funcione bien es vital. Para garantizar tu seguridad al volante y la de los demás conductores es importante verificar periódicamente el estado de todos los componentes del sistema.</p>

      </div>
    </div>
  </div>


  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100 ">
      <img class="imagenbn card-img-top" src="../../../assets/ventana.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">REPARACION DE VENTANAS</h3>
        <p class="card-text">Reparamos las lunas de tu coche, parabrisas o para tintar tus ventanas.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/motor.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">MECÁNICA MOTOR</h3>
        <p class="card-text">En la actualidad, los sistemas de gestión del motor controlan el proceso de inyección de combustible electrónicamente, garantizando así un rendimiento óptimo del motor y un reducido consumo de combustible.</p>

      </div>
    </div>
  </div>

  <div class="col-md-4 mt-3 text-center alturaCard">
    <div class="card w-100">
      <img class="imagenbn card-img-top" src="../../../assets/aceite.png" alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">CAMBIOS DE ACEITE</h3>
        <p class="card-text">Cambiamos y revisamos el aceite y filtros de tu coche.</p>

      </div>
    </div>
  </div>




</div>



<div class="row contactanos">
    <!--<i class="fa-solid fa-car-wrench"></i>
         <i class="faCoffee"></i>
      -->
    <div class="col-lg-1 mt-4 mb-4 offset-lg-2">
      <!--  <i class="fab fa-angellist fa-5x"></i>  -->
      <img src="../../../assets/iconoContact.png" alt="...">
    </div>
  
    <div class="col-lg-6 mt-5">
      <p class="h4 font-weight-bold" id="titulo">NO DUDES EN LLAMARNOS</p>
      <p>Para cualquier consulta escribenos a llama a nuestro numero de contacto. Te atenderemos encantados</p>
  
    </div>
    <div class="col-lg-3 mt-5">
      <button type="button" class="btn btn-warning font-weight-bold" id="botonCita" routerLink="/CONTACTO">CONTACTO</button>
    </div>
  </div>