.alturaCard .card{
    height: 480px;


}

.card-title{
    font-size: 20px;
    background-color:rgb(255, 193, 7, 0.3) ;
}

.card-text{
    font-size: 15px;
   
}

.contactanos{
    background-color: rgb(227, 227, 227);
    padding: 0px;
    margin:0px;
    padding:25px;
}

#botonCita{
    width:200px;
    height:50px;
    border:2px solid white;
}

hr{
    width: 10%;
    margin-left: 45%;

    
}

