<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../../assets/LOGO.PNG" class="d-inline-block align-top" id="logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let op of opciones">
          <a class="nav-link active" aria-current="page" [routerLink]='op.ruta'>{{op.texto}}</a>
        </li>
      </ul>
    </div>
    </div>

</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-nothing scrolling-navbar fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" class="anchoCol">
      <img src="../../../assets/LOGO.PNG"  class="d-inline-block align-top" id="logo" alt="">
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end " id="navbarNav">
        <ul class="navbar-nav " *ngIf="data == 'false'">
          <li class="nav-item " *ngFor="let op of opciones">
            <a class="nav-link active" aria-current="page" [routerLink]='op.ruta'>{{op.texto}}</a>
          </li>
        </ul>
        <ul class="navbar-nav " *ngIf="data == 'true'">
          <li class="nav-item " *ngFor="let op of opcionesAdmin">
            <a class="nav-link active" aria-current="page" [routerLink]='op.ruta'>{{op.texto}}</a>
          </li>
        </ul>
        <a class="btn btn-primary mx-lg-5" routerLink='/inicio-sesion' *ngIf="data == 'false'">Inicar Sesion</a>
        <a class="btn btn-primary mx-lg-5" (click)="logout()" *ngIf="data == 'true'">Cerra Sesion</a>
      </div>
  </div>
</nav>