#logo{
    width: 8%;
    height: 8%;
    border-radius:150px;

}

.anchoCol{
    width: 80px;
}

nav img{
    width: 50px!important;
    height: 50px!important;
}

.navbar{
    background: rgba(0,0,0,0.4)
   /*background-color:transparent;*/
}







