<footer class="container-fluid text-lg-center pb-3"  id="footer">

  <div class="row bd-dark">
    <div class="col-lg-4 mt-4 col-sm-4 ">
      <p class="text-warning"> <i class="bi bi-telephone-fill color-ligth"></i> <small> LLAMANOS</small></p>
      <p class="h5"> 91 000 000</p>
    </div>

    <div class="col-lg-4 mt-4 col-sm-4">
      <p class="text-warning"><i class="bi bi-calendar-week-fill"></i><small> HORARIOS</small></p>
      <p><small> Abierto de Lunes a Viernes</small></p>
      <p class="h5"> 09:00H - 14:00H</p>
      <p class="h5"> 16:00H - 19:00H</p>
    </div>

    <div class="col-lg-4 mt-4 col-sm-4">
      <p class="text-warning"><i class="bi bi-geo-alt-fill"></i><small> NOS ENCONTRAMOS EN</small></p>
      <p class="h5">Calle Pepito Palotes 24</p>
      <p class="h5">Madrid 28800 </p>
    </div>

  </div>

</footer>