<div class="row">
    <img src="../../../assets/img_telefono.png" class="img-fluid" alt="...">
</div>
<div class="container">

    <div class="row">

        <div class="col-lg-12 mt-4">
            <button class="btn btn-warning" (click)="mostrar=!mostrar">ingresos/gastos</button>
        </div>
        <div class="row  mt-5">
            <div class="col-lg-3 mb-2" *ngIf="mostrar==true">
                <label>Introduce fecha Inicio</label> <input [(ngModel)]="inicio" type="date" name="inicio" id="inicio">
            </div>
            <div class="col-lg-3 offset-lg-1 mb-2" *ngIf="mostrar==true">
                <label>Introduce fecha fin</label> <input [(ngModel)]="fin" type="date" name="fin" id="fin">
            </div>
            <div class="col-lg-2 offset-lg-1 mb-2" *ngIf="mostrar==true">
                <button class="btn btn-warning" (click)="crearGrafica()">Crear Grafica</button>
            </div>
        </div>

        <app-table [rows]="rows" [columns]="columns" (click)="onClickRow($event)" (filterKey)="filter($event)"></app-table>
        <app-table [rows]="rows2" [columns]="columns2" (click)="onClickRow2($event)" (filterKey)="filter2($event)"></app-table>


    </div>
</div>