<div class="row">
    <img src="../../../assets/img_facturacion2.png" class="img-fluid" alt="...">
</div>
<div class="container">

    <div class="row">

        <div class="col-lg-12 mt-4">
            <button class="btn btn-warning" (click)="mostrar=!mostrar">Ingresos / Gastos</button>
        </div>
        <div class="row  mt-5">
            <div class="col-lg-3 mb-2" *ngIf="mostrar==true">
                <label>Introduce fecha Inicio</label><br> <input [(ngModel)]="inicio" type="date" name="inicio" id="inicio">
            </div>
            <div class="col-lg-3 offset-lg-1 mb-2" *ngIf="mostrar==true">
                <label>Introduce fecha fin</label> <br><input [(ngModel)]="fin" type="date" name="fin" id="fin">
            </div>
            <div class="col-lg-2 offset-lg-1 mb-2" *ngIf="mostrar==true">
                <button class="btn btn-warning" (click)="crearGrafica()">Crear Grafica</button>
            </div>
        </div>
        <h3 class="mt-4">Gastos de la empresa</h3>
        <app-table [rows]="rows" [columns]="columns" (clickfila)="onClickRow($event)"(filterKey)="filter($event)"></app-table>
        <h3 class="mt-4">Arreglos de vehículos</h3>
        <app-table [rows]="rows2" [columns]="columns2" (clickfila)="onClickRow2($event)" (filterKey)="filter2($event)"></app-table>

        <button type="button" id="botonModal" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@mdo">Añadir cliente</button>
    </div>
</div>
<!-- <div *ngIf="datosModal!=undefined"> -->
<!-- <app-modal-gastos [datos]="datosModal"></app-modal-gastos> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2  id="exampleModalLabel">Gasto de la empresa</h2>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <form>
                    <!-- <p class="alert alert-danger" *ngIf="error">{{error}}</p> -->
                    <div class="form-group">
                        <label for="fecha" class="col-form-label">Fecha:</label>
                        <input type="date" ata-date-format="YYYY-MM-DD" class="form-control" name="fecha" [(ngModel)]="fecha">
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Concepto:</label>
                        <input type="text" class="form-control" name="concepto" [(ngModel)]="concepto">
                    </div>
                    <div class="form-group">
                        <label for="precio" class="col-form-label">Usuario:</label>
                        <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario" readonly>
                    </div>
                    <div class="form-group">
                        <label for="precio" class="col-form-label">Importe:</label>
                        <input type="text" class="form-control" name="importe" [(ngModel)]="importe">
                    </div>
                    <div *ngIf="UpdateError==true" class="mt-3">
                        <p class="alert alert-danger">{{status}}</p>
                    </div>
                    <div *ngIf="UpdateOk==true" class="mt-3">
                        <p class="alert alert-success">{{status}}</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal" hidden>Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="deleteGasto()">Borrar gasto</button>
                <button type="button" class="btn btn-primary" (click)="updateGasto()">Modificar Gasto</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->