/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
/*Tabla*/
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
   /* font-family: 'Lato',sans-serif;*/
   font-family: 'Montserrat', sans-serif;
   overflow-y: scroll;
   overflow-x: hidden;
   margin: 0
}

::-webkit-scrollbar {
   display: none;
}
html, body { height: 100%; }
